<div class="d-flex justify-content-around">
  <app-podcast-card [podcast]="podcast" class="podcast-card mx-3" [routerLink]="['/podcast', podcastId]"></app-podcast-card>
  <div *ngIf="episode" class="d-flex flex-column episode">
    <div class="card w-100 mb-3 px-2 pt-2 pb-3">
      <h2 class="title">{{ episode.trackName }}</h2>
      <div class="mx-2 description" [innerHTML]="episode.description"></div>
      <div class="d-flex justify-content-center mx-3 my-3">
          <audio controls [src]="episode.episodeUrl" class="w-100">
          </audio>
      </div>
    </div>
  </div>
</div>