<div class="d-flex justify-content-around">
  <app-podcast-card [podcast]="podcast" class="podcast-card mx-3"></app-podcast-card>
  <div *ngIf="podcastDetails" class="d-flex flex-column episodes">
    <div class="card w-100 mb-3">
      <h2>Episodes: {{ podcastDetails.resultCount -1 }}</h2>
    </div>
    <div class="card w-100 mb-3 ">
      <table class="table table-striped mx-3 mt-2 mb-4">
        <thead>
          <tr>
            <th class="title" scope="col" colspan="1">Title</th>
            <th scope="col" colspan="1">Date</th>
            <th scope="col" colspan="1">Duration</th>
          </tr>
        </thead>
        <tbody *ngIf="podcastDetails.results">
          <tr *ngFor="let episode of podcastDetails.results.slice(1); let i = index">
            <td [routerLink]="['/podcast', podcastId, 'episode', episode.trackId]"  class="title">{{ episode.trackName }}</td>
            <td>{{ episode.releaseDate | date:'dd/MM/YYYY' }}</td>
            <td>{{ episode.trackTimeMillis | date:'h:mm:ss' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>