.card {
  box-shadow: black 0px 2px 2px;
}

img {
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  border: solid 1px black;
}

.title {
  font-weight: bold;
  font-size: 1.75vw;
}

.artist {
  font-style: oblique;
  font-size: 1.5vw;
}

h5 {
  font-size: 1.6vw;
  margin-bottom: 2%;
}

.description {
  font-size: 1.35vw;
}